<ion-view title="{{title}}">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
       
       <ion-list>
                
                <a class="item">
                    <h2 style="margin=left; font-size: 1.5em">
                      Loop bus # - College 9/10 Bus Stop
                     
                    </h2>
                    <p style="color: black">-- Loop / Upper Campus</p>
                    
                </a>
<br>
                    <a class="item" >
                    <h2 style="margin=left; font-size: 1.5em">
                      Loop bus # - College 8 Bus Stop
                     
                    </h2>
                    <p style="color: black">-- Loop / Upper Campus</p>
                    
                </a>
                 
               
      </ion-list>
    </ion-content>
</ion-view>