<ion-view title="Feed">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <button ng-click="openModal()" class="button button-stable button-block ">Choose your location</button>
       <ion-list>
                
                <a class="item" ng-click="to_outer_loop()">
                    <h2 style="margin=left; font-size: 1.5em">
                      Inner Loop
                     
                    </h2>
                    <p style="color: black">-- Buses in Service</p>
                    
                </a>
                 
                <br>
                <a class="item">
                    <h2 style="margin=left; font-size: 1.5em">
                      Outer Loop
                     
                    </h2>
                    <p style="color: black">-- Buses in Service</p>
                    
                </a>
              
                <br>
                  <a class="item">
                    <h2 style="margin=left; font-size: 1.5em">
                      Metro Bus 15
                     
                    </h2>
                    
                    
                </a>

                <br>
                   <a class="item">
                    <h2 style="margin=left; font-size: 1.5em">
                      Metro Bus 16
                     
                    </h2>
                    
                    
                </a>
        
                <br>

                   <a class="item">
                    <h2 style="margin=left; font-size: 1.5em">
                      Metro Bus 10
                     
                    </h2>
                    
                    
                </a>
                
                <br>
                    <a class="item">
                    <h2 style="margin=left; font-size: 1.5em">
                      Metro Bus 19
                     
                    </h2>
                    
                    
                </a>
                
                <br>
                    <a class="item">
                    <h2 style="margin=left; font-size: 1.5em">
                      Metro Bus 20
                     
                    </h2>
                    
                    
                </a>
                <br>
      </ion-list>
    </ion-content>
</ion-view>