<ion-view title="Feed">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <button ng-click="openModal()" class="button button-stable button-block ">Choose your location</button>
       <ion-list>
        
                  <a class="item">
                    <h2 style="margin=left; font-size: 1.5em">
                      Bus 16
                      <span style="color: gray">  •  </span>
                      Location??
                    </h2>
                    <p style="color: black">Date• time• location</p>
                    <p>
                      <span style="font-size: 1.5em" ng-style="{'color': courses.color}">
                        Courses Avail /span> seat(s) remaining:
                      <span style="color: black">
                        51 / 100</span> seats filled
                    </p>

                    <p>Taught by <span style="color: black">UCSC</span></p>
                </a>
                <br>
                 <a class="item">
                    <h2 style="margin=left; font-size: 1.5em">
                      Bus 15
                      <span style="color: gray">  •  </span>
                      Location??
                    </h2>
                    <p style="color: black">Date• time• location</p>
                    <p>
                      <span style="font-size: 1.5em" ng-style="{'color': courses.color}">
                        Courses Avail /span> seat(s) remaining:
                      <span style="color: black">
                        51 / 100</span> seats filled
                    </p>

                    <p>Taught by <span style="color: black">UCSC</span></p>
                </a>
        
      </ion-list>
    </ion-content>
</ion-view>