
  <ion-modal-view id="location-modal" ng-controller="locationCtrl">
    <ion-header-bar ng-click="modal_location.hide()">
      <h1 class="title">Choose your location</h1>
    </ion-header-bar>
    <ion-content>

      <div class="item">
        <center>
    <button id="status_select" ng-click="o_mclaughlin()" class="button button-block button-clear button-dark ink" 
   > <b>Outer McLaughlin</b> </button>
    </center>
    </div>
        
        <div class="item">
        <center>
    <button id="status_select" ng-click="o_kresge()" class="button button-block button-clear button-dark ink" 
   > <b>Outer Kresge</b> </button>
    </center>
    </div>

    <div class="item">
        <center>
    <button id="status_select" ng-click="nine_ten()" class="button button-block button-clear button-dark ink" 
   > <b>College 9/10</b> </button>
    </center>
    </div>

    <div class="item">
        <center>
    <button id="status_select" ng-click="crown()" class="button button-block button-clear button-dark ink" 
   > <b>Crown College</b> </button>
    </center>
    </div>

    <div class="item">
        <center>
    <button id="status_select" ng-click="bookstore()" class="button button-block button-clear button-dark ink" 
   > <b>Steveson/BookStore</b> </button>
    </center>
    </div>

    <div class="item">
        <center>
    <button id="status_select" ng-click="f_east()" class="button button-block button-clear button-dark ink" 
   > <b>Field House East</b> </button>
    </center>
    </div>

    <div class="item">
        <center>
    <button id="status_select" ng-click= "e_remote()" class="button button-block button-clear button-dark ink" 
   > <b>East Remote</b> </button>
    </center>
    </div>

    <div class="item">
        <center>
    <button id="status_select" ng-click="l_quarry()" class="button button-block button-clear button-dark ink" 
   > <b>Lower Quarry Rd</b> </button>
    </center>
    </div>

    <div class="item">
        <center>
    <button id="status_select" ng-click="o_coolidge()"class="button button-block button-clear button-dark ink" 
   > <b>Outer Coolidge and Hagar</b> </button>
    </center>
    </div>

    <div class="item">
        <center>
    <button id="status_select" ng-click="o_coolidgemain()"class="button button-block button-clear button-dark ink" 
   > <b>Outer Coolidge and Main Entrance</b> </button>
    </center>
    </div>

    <div class="item">
        <center>
    <button id="status_select" ng-click="o_highW()"class="button button-block button-clear button-dark ink" 
   > <b>Outer High and Western Dr</b> </button>
    </center>
    </div>

    <div class="item">
        <center>
    <button id="status_select" ng-click="o_empire()"class="button button-block button-clear button-dark ink" 
   > <b>Outer Empire Grade and Tosca Terrace</b> </button>
    </center>
    </div>

    <div class="item">
        <center>
    <button id="status_select" ng-click="o_emAr()"class="button button-block button-clear button-dark ink" 
   > <b>Outer Empire Grade and Arboretum</b> </button>
    </center>
    </div>
  
  <div class="item">
        <center>
    <button id="status_select" ng-click="o_hellerOakes()"class="button button-block button-clear button-dark ink" 
   > <b>Outer Heller and Oakes College</b> </button>
    </center>
    </div>

    <div class="item">
        <center>
    <button id="status_select" ng-click="o_hellerFam()"class="button button-block button-clear button-dark ink" 
   > <b>Outer Heller and Family Student Housing</b> </button>
    </center>
    </div>
    
    <div class="item">
        <center>
    <button id="status_select" ng-click="o_hellerEight()"class="button button-block button-clear button-dark ink" 
   > <b>Outer Heller and College 8 and Porter</b> </button>
    </center>
    </div>

    <div class="item">
        <center>
    <button id="status_select" ng-click="i_hellerKerr()"class="button button-block button-clear button-dark ink" 
   > <b>Inner Heller and Kerr Hall</b> </button>
    </center>
    </div>

    <div class="item">
        <center>
    <button id="status_select" ng-click="i_hellerKresge()" class="button button-block button-clear button-dark ink" 
   > <b>Inner Heller and Kresge College</b> </button>
    </center>
    </div>

    <div class="item">
        <center>
    <button id="status_select" ng-click="i_mcHill()" class="button button-block button-clear button-dark ink" 
   > <b>Inner McLaughlin and Science Hill</b> </button>
    </center>
    </div>

    <div class="item">
        <center>
    <button id="status_select" ng-click="i_McNine()"class="button button-block button-clear button-dark ink" 
   > <b>Inner McLaughlin and College 9/10</b> </button>
    </center>
    </div>

    <div class="item">
        <center>
    <button id="status_select" ng-click="i_hagarBook()"class="button button-block button-clear button-dark ink" 
   > <b>Inner Hagar and Bookstore</b> </button>
    </center>
    </div>

    <div class="item">
        <center>
    <button id="status_select" ng-click="i_hagarEast()" class="button button-block button-clear button-dark ink" 
   > <b>Inner Hagar and East Remote</b> </button>
    </center>
    </div>

    <div class="item">
        <center>
    <button id="status_select" ng-click="i_hagarQ()"class="button button-block button-clear button-dark ink" 
   > <b>Inner Hagar and Lower Quarry Road</b> </button>
    </center>
    </div>

    <div class="item">
        <center>
    <button id="status_select" ng-click="i_coolidgeH()"class="button button-block button-clear button-dark ink" 
   > <b>Inner Coolidge and Hagar</b> </button>
    </center>
    </div>

    <div class="item">
        <center>
    <button id="status_select" ng-click="i_highW()"class="button button-block button-clear button-dark ink" 
   > <b>Inner High and Western Dr</b> </button>
    </center>
    </div>

    <div class="item">
        <center>
    <button id="status_select" ng-click="i_highBarn()" class="button button-block button-clear button-dark ink" 
   > <b>Inner High and Barn Theater</b> </button>
    </center>
    </div>

    <div class="item">
        <center>
    <button id="status_select" ng-click="i_empireAr()" class="button button-block button-clear button-dark ink" 
   > <b>Inner Empire Grade and Arboretum</b> </button>
    </center>
    </div>

    <div class="item">
        <center>
    <button id="status_select" ng-click="i_hellerOakes()"class="button button-block button-clear button-dark ink" 
   > <b>Inner Heller and Oakes College</b> </button>
    </center>
    </div>

    <div class="item">
        <center>
    <button id="status_select" ng-click="i_hellerEight()"class="button button-block button-clear button-dark ink" 
   > <b>Inner Heller and College 8 and Porter</b> </button>
    </center>
    </div>

    </ion-content>
  </ion-modal-view>
