<ion-view title="Loop">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <button class="button  button-block ">Choose your location</button>
        <div class="list card">
            <div class="item item-divider">Loop</div>
            <div class="item item-body">
                <ion-list></ion-list>
                <h1>The nearest loop</h1>
                <div>
                    <p>is
                        <strong>x</strong>stops away from you.</p>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">City</div>
            <div class="item item-body">
                <h1>The nearest city bus</h1>
                <div>
                    <p>is the
                        <strong>bus#</strong>and is
                        <strong>x</strong>stops away from you</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>