<ion-view title="{{title}}">
    <ion-content overflow-scroll="true" padding="true" class="has-header">

<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 100%">
  <div><center>
       <div class="row" >

  <div class="col-50" ng-repeat="value in master_stops track by $index">

    <ion-list>
    
       <a class="item"> <strong>{{master_stops[$index]}}</strong></a>
       <br>


       <div class="row-30" ng-repeat="row in master_list">

            <a class="item ">  {{master_list[$index][$parent.$index+1]}} </a>
        
       </div>

  </ion-list>

  </div>

</div>
</center></div>
 </ion-scroll>


    </ion-content>
</ion-view>