<ion-view title="Analytics">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="button-bar">
            <button class="button button-stable button-block  icon ion-social-instagram"></button>
            <button class="button button-light button-block  icon ion-social-facebook"></button>
            <button class="button button-stable button-block  icon ion-social-twitter"></button>
        </div>
        <ion-list>
            <ion-item>Item 1</ion-item>
            <ion-item>Item 2</ion-item>
            <ion-item>Item 3</ion-item>
        </ion-list>
        <form class="list"></form>
        <form class="list"></form>
    </ion-content>
</ion-view>